* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.navbar {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; /*Aligns items center vertically  */

  padding: 16px 32px;

  background-color: white;

  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.search-input {
  width: 300px;

  padding: 10px;

  border-radius: 8px;
  border: 1px solid #ccc;

  outline: none;
}

.theme-toggle {
  padding: 10px 16px;

  border: none;
  border-radius: 8px;

  cursor: pointer;

  background-color: black;
  color: white;

  font-size: 16px;
}

.notes-input-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.notes-list {
  padding: 20px;
}

.note-card {
  background-color: white;

  padding: 16px;

  margin-top: 12px;

  border-radius: 10px;

  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-card button {
  padding: 8px 12px;

  border: none;
  border-radius: 6px;

  background-color: crimson;
  color: white;

  cursor: pointer;
}

.app {
  min-height: 100vh;

  background-color: #f4f4f4;
  color: black;

  transition: all 0.3s ease;
}

.dark {
  background-color: #121212;
  color: white;
}

.dark .navbar {
  background-color: #1e1e1e;
}

.dark .note-card {
  background-color: #1e1e1e;
  color: white;
}

.dark h2 {
  background-color: #1e1e1e;
  color: white;
}
